BeautifulSoup==3.2.1
JPype1==0.5.7
Pillow==2.7.0
Scrapy==0.24.4
Twisted==14.0.2
boilerpipe==1.2.0.0
cffi==0.8.6
characteristic==14.3.0
charade==1.0.3
cryptography==0.7.1
cssselect==0.9.1
enum34==1.0.4
goose-extractor==1.0.25
jieba==0.35
lxml==3.4.1
nltk==3.0.0
pyOpenSSL==0.14
pyasn1==0.1.7
pyasn1-modules==0.0.5
pycparser==2.10
pymongo==2.7.2
queuelib==1.2.2
requests==2.5.1
service-identity==14.0.0
six==1.8.0
w3lib==1.10.0
wsgiref==0.1.2
zope.interface==4.1.2
